#ubezpieczenia {
  .logos {
    @include flexgrid(
      (
        columns: 3,
        gutters: 3rem,
        vertical-align: stretch
      )
    );

    .content {
      header {
        .icon-wrapper {
          height: 6rem;
          .icon {
            display: block;
            margin: auto;
            height: 100%;
            max-width: 100%;
          }
        }
      }
    }

    @include breakpoint("<=medium") {
      @include flexgrid-resize(
        (
          columns: 1,
          gutters: 2rem,
          prev-columns: 3
        )
      );

      .content {
        padding: 2rem;
      }
    }
  }
}
