#tel {
    background-color: _palette(accent1, bg);
    padding: 1rem;

    .special {
        margin: 0;
    }
    
    h3 {
        color: _palette(accent2, fg-bold);

        &.phone-number {
            font-weight: _font(weight-bold);
        }
    }
}